h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 128px;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat';
    text-decoration: underline;
    text-underline-offset: 10%;
    text-decoration-color: #D1E4FF;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat';
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#spacer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.custom-card {
    padding-bottom: 100px;
}

#header-box {
    padding-top: 100px;
    padding-bottom: 100px;
}

.accented-box {
    display: grid;
    align-items: center;

    width: 70%;
    height: 60%;

    margin-left: 50%;
    transform: translateX(-50%);

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25) , -30px 30px 0px 0px #d1e4ff;
    border-radius: 29px;
}

.accented-box-inv {
    display: grid;
    align-items: center;

    width: 70%;
    height: 60%;

    margin-left: 50%;
    transform: translateX(-50%);

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25) , 30px 30px 0px 0px #d1e4ff;
    border-radius: 29px;
}


.blackout {
    background: #000000;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.central-graphic  {
    min-width: 200px;
    max-width: 40%;
    animation: rotate infinite 30s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.pane {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.blackout-pane {
    background: #000000;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.split-graphic {
    min-width: 200px;
    max-width: 80%;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25) , -30px 30px 0px 0px #d1e4ff;
    border-radius: 29px;
}

.split-graphic-inv {
    min-width: 200px;
    max-width: 80%;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25) , 30px 30px 0px 0px #d1e4ff;
    border-radius: 29px;
}
